In [1]:
import warnings
warnings.filterwarnings("ignore")

In [2]:
import pandas as pd
import numpy as np

In [3]:
df1 = pd.read_csv(r"C:\Users\rosem\Downloads\FINAL_PROJECT_WORKS\dataverse_files\MIDA.csv")
df2 = pd.read_csv(r"C:\Users\rosem\Downloads\FINAL_PROJECT_WORKS\dataverse_files\TEN.csv")
df3 = pd.read_csv(r"C:\Users\rosem\Downloads\FINAL_PROJECT_WORKS\dataverse_files\NE.csv")
df4 = pd.read_csv(r"C:\Users\rosem\Downloads\FINAL_PROJECT_WORKS\dataverse_files\NW.csv")
df5 = pd.read_csv(r"C:\Users\rosem\Downloads\FINAL_PROJECT_WORKS\dataverse_files\SW.csv")
df6 = pd.read_csv(r"C:\Users\rosem\Downloads\FINAL_PROJECT_WORKS\dataverse_files\CAR.csv")
df7 = pd.read_csv(r"C:\Users\rosem\Downloads\FINAL_PROJECT_WORKS\dataverse_files\CENT.csv")
df8 = pd.read_csv(r"C:\Users\rosem\Downloads\FINAL_PROJECT_WORKS\dataverse_files\MIDW.csv")
df9 = pd.read_csv(r"C:\Users\rosem\Downloads\FINAL_PROJECT_WORKS\dataverse_files\TEX.csv")
df10 = pd.read_csv(r"C:\Users\rosem\Downloads\FINAL_PROJECT_WORKS\dataverse_files\CAL.csv")
df11 = pd.read_csv(r"C:\Users\rosem\Downloads\FINAL_PROJECT_WORKS\dataverse_files\FlA.csv")
df12 = pd.read_csv(r"C:\Users\rosem\Downloads\FINAL_PROJECT_WORKS\dataverse_files\SE.csv")

In [4]:
df1

,Region,UTC.time,Local.date,Hour,Local.time,Time.zone,DF,D,NG,TI,...,Consumed.Electricity,CO2.Emissions.Intensity.for.Generated.Electricity,CO2.Emissions.Intensity.for.Consumed.Electricity,date2,dow,week,month,year,demand,index
0,MIDA,01/07/2018 05:00,01/07/2018,1,01/07/2018 01:00,Eastern,99494.0,103858.0,109248,5347.0,...,107748.0,1.037899,NaN,01/07/2018,1,26,7,2018,103858.0,26305
1,MIDA,01/07/2018 06:00,01/07/2018,2,01/07/2018 02:00,Eastern,93464.0,98297.0,103531,5192.0,...,104321.0,0.999141,NaN,01/07/2018,1,26,7,2018,98297.0,26306
2,MIDA,01/07/2018 07:00,01/07/2018,3,01/07/2018 03:00,Eastern,88609.0,93074.0,99378,6262.0,...,102159.0,0.979043,NaN,01/07/2018,1,26,7,2018,93074.0,26307
3,MIDA,01/07/2018 08:00,01/07/2018,4,01/07/2018 04:00,Eastern,85235.0,89391.0,95312,5880.0,...,97481.0,0.949907,0.964278,01/07/2018,1,26,7,2018,89391.0,26308
4,MIDA,01/07/2018 09:00,01/07/2018,5,01/07/2018 05:00,Eastern,83348.0,86561.0,92188,5589.0,...,95385.0,0.924530,0.945731,01/07/2018,1,26,7,2018,86561.0,26309
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43819,MIDA,01/07/2023 00:00,30/06/2023,20,30/06/2023 20:00,Eastern,115626.0,116132.0,127098,10966.0,...,114609.0,0.859319,0.861042,30/06/2023,6,26,6,2023,116132.0,70124
43820,MIDA,01/07/2023 01:00,30/06/2023,21,30/06/2023 21:00,Eastern,111222.0,112363.0,123050,10686.0,...,111683.0,0.870128,0.872267,30/06/2023,6,26,6,2023,112363.0,70125
43821,MIDA,01/07/2023 02:00,30/06/2023,22,30/06/2023 22:00,Eastern,104709.0,108918.0,119580,10662.0,...,103646.0,0.873533,0.875729,30/06/2023,6,26,6,2023,108918.0,70126
43822,MIDA,01/07/2023 03:00,30/06/2023,23,30/06/2023 23:00,Eastern,97046.0,103037.0,112452,9414.0,...,96147.0,0.853919,0.855868,30/06/2023,6,26,6,2023,103037.0,70127
43823,MIDA,01/07/2023 04:00,30/06/2023,24,01/07/2023 00:00,Eastern,90957.0,97232.0,106074,8842.0,...,87433.0,0.782050,0.784391,30/06/2023,6,26,6,2023,97232.0,70128

In [5]:
df = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12])
df

,Region,UTC.time,Local.date,Hour,Local.time,Time.zone,DF,D,NG,TI,...,Consumed.Electricity,CO2.Emissions.Intensity.for.Generated.Electricity,CO2.Emissions.Intensity.for.Consumed.Electricity,date2,dow,week,month,year,demand,index
0,MIDA,01/07/2018 05:00,01/07/2018,1,01/07/2018 01:00,Eastern,99494.0,103858.0,109248.0,5347.0,...,107748.0,1.037899,NaN,01/07/2018,1,26,7,2018,103858.0,26305
1,MIDA,01/07/2018 06:00,01/07/2018,2,01/07/2018 02:00,Eastern,93464.0,98297.0,103531.0,5192.0,...,104321.0,0.999141,NaN,01/07/2018,1,26,7,2018,98297.0,26306
2,MIDA,01/07/2018 07:00,01/07/2018,3,01/07/2018 03:00,Eastern,88609.0,93074.0,99378.0,6262.0,...,102159.0,0.979043,NaN,01/07/2018,1,26,7,2018,93074.0,26307
3,MIDA,01/07/2018 08:00,01/07/2018,4,01/07/2018 04:00,Eastern,85235.0,89391.0,95312.0,5880.0,...,97481.0,0.949907,0.964278,01/07/2018,1,26,7,2018,89391.0,26308
4,MIDA,01/07/2018 09:00,01/07/2018,5,01/07/2018 05:00,Eastern,83348.0,86561.0,92188.0,5589.0,...,95385.0,0.924530,0.945731,01/07/2018,1,26,7,2018,86561.0,26309
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43819,SE,2023-07-01 01:00:00,2023-06-30,20,2023-06-30 20:00:00,Central,36161.0,34412.0,38064.0,3647.0,...,34418.0,0.949978,0.950256,2023-06-30,6,26,6,2023,34412.0,70124
43820,SE,2023-07-01 02:00:00,2023-06-30,21,2023-06-30 21:00:00,Central,35451.0,33544.0,36364.0,2820.0,...,33545.0,0.953942,0.952980,2023-06-30,6,26,6,2023,33544.0,70125
43821,SE,2023-07-01 03:00:00,2023-06-30,22,2023-06-30 22:00:00,Central,33890.0,31887.0,34099.0,2209.0,...,31892.0,0.969280,0.968382,2023-06-30,6,26,6,2023,31887.0,70126
43822,SE,2023-07-01 04:00:00,2023-06-30,23,2023-06-30 23:00:00,Central,31832.0,29793.0,30625.0,830.0,...,29799.0,0.983144,0.979632,2023-06-30,6,26,6,2023,29793.0,70127
43823,SE,2023-07-01 05:00:00,2023-06-30,24,2023-07-01 00:00:00,Central,29795.0,27736.0,28508.0,770.0,...,27739.0,0.965934,0.960243,2023-06-30,6,26,6,2023,27736.0,70128

In [6]:
df.describe()

,Hour,DF,D,NG,TI,Sum..NG.,NG..COL,NG..NG,NG..NUC,NG..OIL,...,Positive.Generation,Consumed.Electricity,CO2.Emissions.Intensity.for.Generated.Electricity,CO2.Emissions.Intensity.for.Consumed.Electricity,dow,week,month,year,demand,index
count,525888.000000,524999.000000,525480.000000,525480.000000,525210.000000,525888.000000,525474.000000,523799.000000,523716.000000,436906.000000,...,525888.000000,5.258880e+05,525470.000000,525409.000000,525888.000000,525888.000000,525888.000000,525888.000000,525480.000000,525888.000000
mean,12.500105,36534.364875,36768.919905,36312.715562,58.809867,35948.090717,8153.313595,13486.525160,7149.079683,46.904053,...,35990.443010,3.629828e+04,0.769944,0.784184,3.998357,26.590611,6.524385,2020.495514,36768.919905,48216.416667
std,6.922374,25361.834635,24993.441704,25457.652175,3906.725640,25109.003304,9354.502716,10257.929859,7876.073386,177.677740,...,25085.890663,2.707204e+04,0.259121,0.330191,1.999317,15.060433,3.448652,1.499630,24993.441704,12650.911126
min,1.000000,-190270.000000,60.000000,112.000000,-13412.000000,0.000000,-25.000000,-6.000000,-10.000000,-11.000000,...,0.000000,-1.363400e+04,0.014651,-111.872592,1.000000,1.000000,1.000000,2018.000000,60.000000,26304.000000
25%,6.750000,19390.000000,19995.000000,18857.000000,-1420.000000,18759.000000,1933.000000,6024.000000,2270.000000,0.000000,...,18885.940000,1.983100e+04,0.602488,0.621672,2.000000,14.000000,4.000000,2019.000000,19995.000000,37260.000000
50%,12.500000,28945.000000,28969.000000,27849.500000,-6.000000,27726.000000,4730.000000,9951.000000,4027.000000,0.000000,...,27790.000000,2.852000e+04,0.757195,0.771942,4.000000,27.000000,7.000000,2020.000000,28969.000000,48216.000000
75%,18.250000,41840.000000,42205.000000,42741.000000,1681.000000,42581.000000,10858.750000,18023.000000,8399.000000,57.000000,...,42583.000000,4.125300e+04,0.896364,0.914082,6.000000,40.000000,10.000000,2022.000000,42205.000000,59172.000000
max,25.000000,486241.000000,215682.000000,156725.000000,15395.000000,155263.000000,56429.000000,71648.000000,46004.000000,11841.000000,...,155263.000000,5.408773e+06,2.221042,117.124938,7.000000,53.000000,12.000000,2023.000000,215682.000000,70128.000000

In [7]:
import pandas as pd

# Load your dataset
#df = pd.read_csv("your_dataset.csv")  # Replace with your actual file path

# Select important columns
selected_columns = [
    'UTC.time',
    'Local.date',
    'Region',
    'Hour',
    'D',  # Actual Electricity Demand
    'NG',  # Net Generation
    'TI',  # Total Interchange
    'DF',  # Forecasted Demand
    'NG..COL', 'NG..NG', 'NG..OIL', 'NG..NUC', 'NG..WAT', 'NG..SUN', 'NG..WND',
    'CO2.Factor..COL', 'CO2.Factor..NG', 'CO2.Factor..OIL',
    'CO2.Emissions..COL', 'CO2.Emissions..NG', 'CO2.Emissions..OIL',
    'CO2.Emissions.Generated',
    'CO2.Emissions.Intensity.for.Generated.Electricity',
    'CO2.Emissions.Intensity.for.Consumed.Electricity'
]

# Filter the dataset
data = df[selected_columns]

# Show the first few rows of the filtered dataset
data

,UTC.time,Local.date,Region,Hour,D,NG,TI,DF,NG..COL,NG..NG,...,NG..WND,CO2.Factor..COL,CO2.Factor..NG,CO2.Factor..OIL,CO2.Emissions..COL,CO2.Emissions..NG,CO2.Emissions..OIL,CO2.Emissions.Generated,CO2.Emissions.Intensity.for.Generated.Electricity,CO2.Emissions.Intensity.for.Consumed.Electricity
0,01/07/2018 05:00,01/07/2018,MIDA,1,103858.0,109248.0,5347.0,99494.0,35983.0,29070.0,...,2545.0,2.218549,0.895378,2.110705,36210.345566,11806.406352,175.204377,48442.243112,1.037899,NaN
1,01/07/2018 06:00,01/07/2018,MIDA,2,98297.0,103531.0,5192.0,93464.0,33731.0,27542.0,...,2401.0,2.177153,0.881391,2.110705,33310.757501,11011.089351,175.204377,44744.766128,0.999141,NaN
2,01/07/2018 07:00,01/07/2018,MIDA,3,93074.0,99378.0,6262.0,88609.0,31721.0,25939.0,...,2036.0,2.172465,0.880894,2.110705,31258.342939,10364.372058,179.991382,42047.503780,0.979043,NaN
3,01/07/2018 08:00,01/07/2018,MIDA,4,89391.0,95312.0,5880.0,85235.0,29564.0,24704.0,...,2006.0,2.168223,0.880529,2.110705,29075.921890,9866.818301,181.906184,39369.975437,0.949907,0.964278
4,01/07/2018 09:00,01/07/2018,MIDA,5,86561.0,92188.0,5589.0,83348.0,27744.0,24681.0,...,1825.0,2.166928,0.880701,2.110705,27269.665900,9859.557525,181.906184,37556.638108,0.924530,0.945731
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43819,2023-07-01 01:00:00,2023-06-30,SE,20,34412.0,38064.0,3647.0,36161.0,7083.0,22959.0,...,0.0,2.199712,0.893434,NaN,7067.231207,9304.259067,0.000000,16402.330168,0.949978,0.950256
43820,2023-07-01 02:00:00,2023-06-30,SE,21,33544.0,36364.0,2820.0,35451.0,6677.0,22300.0,...,0.0,2.200647,0.893891,NaN,6664.968120,9041.821171,0.000000,15735.188285,0.953942,0.952980
43821,2023-07-01 03:00:00,2023-06-30,SE,22,31887.0,34099.0,2209.0,33890.0,6594.0,20680.0,...,0.0,2.199813,0.894100,NaN,6579.623773,8386.923322,NaN,14992.789641,0.969280,0.968382
43822,2023-07-01 04:00:00,2023-06-30,SE,23,29793.0,30625.0,830.0,31832.0,6394.0,17920.0,...,0.0,2.197462,0.893339,NaN,6373.238897,7261.399304,NaN,13658.912652,0.983144,0.979632
43823,2023-07-01 05:00:00,2023-06-30,SE,24,27736.0,28508.0,770.0,29795.0,5895.0,16264.0,...,0.0,2.194508,0.894453,NaN,5867.961431,6598.590498,0.000000,12490.960918,0.965934,0.960243

In [8]:
data.rename(columns={
    'UTC.time': 'UTC_Time',
    'Local.date': 'Date',
    'Region': 'Region',
    'Hour': 'Hour',
    'D': 'Demand',
    'NG': 'Net_Generation',
    'TI': 'Total_Interchange',
    'DF': 'Forecasted_Demand',
    
    # Energy generation by source
    'NG..COL': 'Coal_Gen',
    'NG..NG': 'Gas_Gen',
    'NG..OIL': 'Oil_Gen',
    'NG..NUC': 'Nuclear_Gen',
    'NG..WAT': 'Hydro_Gen',
    'NG..SUN': 'Solar_Gen',
    'NG..WND': 'Wind_Gen',
    
    # CO2 Emission Factors
    'CO2.Factor..COL': 'CO2_Factor_Coal',
    'CO2.Factor..NG': 'CO2_Factor_Gas',
    'CO2.Factor..OIL': 'CO2_Factor_Oil',
    
    # CO2 Emissions
    'CO2.Emissions..COL': 'CO2_Emissions_Coal',
    'CO2.Emissions..NG': 'CO2_Emissions_Gas',
    'CO2.Emissions..OIL': 'CO2_Emissions_Oil',
    'CO2.Emissions.Generated': 'CO2_Total_Emissions',
    
    # CO2 Intensity
    'CO2.Emissions.Intensity.for.Generated.Electricity': 'CO2_Intensity_Generated',
    'CO2.Emissions.Intensity.for.Consumed.Electricity': 'CO2_Intensity_Consumed'
}, inplace=True)

In [9]:
# Convert mixed-format dates correctly
data['Date'] = pd.to_datetime(data['Date'], format='mixed', dayfirst=True, errors='coerce')

# Check for rows that failed to convert
invalid_dates = data[data['Date'].isna()]
print(f"Number of invalid dates: {len(invalid_dates)}")

# Optional: Drop rows with invalid dates
data = data.dropna(subset=['Date'])

# View sampledata
data

Number of invalid dates: 0

,UTC_Time,Date,Region,Hour,Demand,Net_Generation,Total_Interchange,Forecasted_Demand,Coal_Gen,Gas_Gen,...,Wind_Gen,CO2_Factor_Coal,CO2_Factor_Gas,CO2_Factor_Oil,CO2_Emissions_Coal,CO2_Emissions_Gas,CO2_Emissions_Oil,CO2_Total_Emissions,CO2_Intensity_Generated,CO2_Intensity_Consumed
0,01/07/2018 05:00,2018-07-01,MIDA,1,103858.0,109248.0,5347.0,99494.0,35983.0,29070.0,...,2545.0,2.218549,0.895378,2.110705,36210.345566,11806.406352,175.204377,48442.243112,1.037899,NaN
1,01/07/2018 06:00,2018-07-01,MIDA,2,98297.0,103531.0,5192.0,93464.0,33731.0,27542.0,...,2401.0,2.177153,0.881391,2.110705,33310.757501,11011.089351,175.204377,44744.766128,0.999141,NaN
2,01/07/2018 07:00,2018-07-01,MIDA,3,93074.0,99378.0,6262.0,88609.0,31721.0,25939.0,...,2036.0,2.172465,0.880894,2.110705,31258.342939,10364.372058,179.991382,42047.503780,0.979043,NaN
3,01/07/2018 08:00,2018-07-01,MIDA,4,89391.0,95312.0,5880.0,85235.0,29564.0,24704.0,...,2006.0,2.168223,0.880529,2.110705,29075.921890,9866.818301,181.906184,39369.975437,0.949907,0.964278
4,01/07/2018 09:00,2018-07-01,MIDA,5,86561.0,92188.0,5589.0,83348.0,27744.0,24681.0,...,1825.0,2.166928,0.880701,2.110705,27269.665900,9859.557525,181.906184,37556.638108,0.924530,0.945731
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43819,2023-07-01 01:00:00,2023-06-30,SE,20,34412.0,38064.0,3647.0,36161.0,7083.0,22959.0,...,0.0,2.199712,0.893434,NaN,7067.231207,9304.259067,0.000000,16402.330168,0.949978,0.950256
43820,2023-07-01 02:00:00,2023-06-30,SE,21,33544.0,36364.0,2820.0,35451.0,6677.0,22300.0,...,0.0,2.200647,0.893891,NaN,6664.968120,9041.821171,0.000000,15735.188285,0.953942,0.952980
43821,2023-07-01 03:00:00,2023-06-30,SE,22,31887.0,34099.0,2209.0,33890.0,6594.0,20680.0,...,0.0,2.199813,0.894100,NaN,6579.623773,8386.923322,NaN,14992.789641,0.969280,0.968382
43822,2023-07-01 04:00:00,2023-06-30,SE,23,29793.0,30625.0,830.0,31832.0,6394.0,17920.0,...,0.0,2.197462,0.893339,NaN,6373.238897,7261.399304,NaN,13658.912652,0.983144,0.979632
43823,2023-07-01 05:00:00,2023-06-30,SE,24,27736.0,28508.0,770.0,29795.0,5895.0,16264.0,...,0.0,2.194508,0.894453,NaN,5867.961431,6598.590498,0.000000,12490.960918,0.965934,0.960243

In [10]:
data.isna().sum()

UTC_Time                        0
Date                            0
Region                          0
Hour                            0
Demand                        408
Net_Generation                408
Total_Interchange             678
Forecasted_Demand             889
Coal_Gen                      414
Gas_Gen                      2089
Oil_Gen                     88982
Nuclear_Gen                  2172
Hydro_Gen                    2090
Solar_Gen                    2181
Wind_Gen                    89815
CO2_Factor_Coal             26563
CO2_Factor_Gas               3583
CO2_Factor_Oil             367071
CO2_Emissions_Coal            414
CO2_Emissions_Gas            2110
CO2_Emissions_Oil          108609
CO2_Total_Emissions           409
CO2_Intensity_Generated       418
CO2_Intensity_Consumed        479
dtype: int64

In [11]:
data.drop(columns=['Oil_Gen', 'Wind_Gen', 'CO2_Factor_Oil', 'CO2_Emissions_Oil'], inplace=True)
data

,UTC_Time,Date,Region,Hour,Demand,Net_Generation,Total_Interchange,Forecasted_Demand,Coal_Gen,Gas_Gen,Nuclear_Gen,Hydro_Gen,Solar_Gen,CO2_Factor_Coal,CO2_Factor_Gas,CO2_Emissions_Coal,CO2_Emissions_Gas,CO2_Total_Emissions,CO2_Intensity_Generated,CO2_Intensity_Consumed
0,01/07/2018 05:00,2018-07-01,MIDA,1,103858.0,109248.0,5347.0,99494.0,35983.0,29070.0,33643.0,538.0,1.0,2.218549,0.895378,36210.345566,11806.406352,48442.243112,1.037899,NaN
1,01/07/2018 06:00,2018-07-01,MIDA,2,98297.0,103531.0,5192.0,93464.0,33731.0,27542.0,33654.0,488.0,1.0,2.177153,0.881391,33310.757501,11011.089351,44744.766128,0.999141,NaN
2,01/07/2018 07:00,2018-07-01,MIDA,3,93074.0,99378.0,6262.0,88609.0,31721.0,25939.0,33692.0,476.0,1.0,2.172465,0.880894,31258.342939,10364.372058,42047.503780,0.979043,NaN
3,01/07/2018 08:00,2018-07-01,MIDA,4,89391.0,95312.0,5880.0,85235.0,29564.0,24704.0,33740.0,536.0,1.0,2.168223,0.880529,29075.921890,9866.818301,39369.975437,0.949907,0.964278
4,01/07/2018 09:00,2018-07-01,MIDA,5,86561.0,92188.0,5589.0,83348.0,27744.0,24681.0,33739.0,746.0,1.0,2.166928,0.880701,27269.665900,9859.557525,37556.638108,0.924530,0.945731
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43819,2023-07-01 01:00:00,2023-06-30,SE,20,34412.0,38064.0,3647.0,36161.0,7083.0,22959.0,5845.0,1739.0,53.0,2.199712,0.893434,7067.231207,9304.259067,16402.330168,0.949978,0.950256
43820,2023-07-01 02:00:00,2023-06-30,SE,21,33544.0,36364.0,2820.0,35451.0,6677.0,22300.0,5859.0,1151.0,0.0,2.200647,0.893891,6664.968120,9041.821171,15735.188285,0.953942,0.952980
43821,2023-07-01 03:00:00,2023-06-30,SE,22,31887.0,34099.0,2209.0,33890.0,6594.0,20680.0,5865.0,602.0,0.0,2.199813,0.894100,6579.623773,8386.923322,14992.789641,0.969280,0.968382
43822,2023-07-01 04:00:00,2023-06-30,SE,23,29793.0,30625.0,830.0,31832.0,6394.0,17920.0,5854.0,100.0,1.0,2.197462,0.893339,6373.238897,7261.399304,13658.912652,0.983144,0.979632
43823,2023-07-01 05:00:00,2023-06-30,SE,24,27736.0,28508.0,770.0,29795.0,5895.0,16264.0,5875.0,116.0,0.0,2.194508,0.894453,5867.961431,6598.590498,12490.960918,0.965934,0.960243

In [12]:
# Fill generation-related gaps with 0 (likely non-generated)
gen_cols = ['Gas_Gen', 'Hydro_Gen', 'Solar_Gen', 'Nuclear_Gen']
data[gen_cols] = data[gen_cols].fillna(0)

# CO2 factors: fill with column means
data['CO2_Factor_Coal'] = data['CO2_Factor_Coal'].fillna(data['CO2_Factor_Coal'].mean())
data['CO2_Factor_Gas'] = data['CO2_Factor_Gas'].fillna(data['CO2_Factor_Gas'].mean())

# CO2 emissions fill with 0 (non-generation = no emission)
data[['CO2_Emissions_Coal', 'CO2_Emissions_Gas']] = data[['CO2_Emissions_Coal', 'CO2_Emissions_Gas']].fillna(0)
data

,UTC_Time,Date,Region,Hour,Demand,Net_Generation,Total_Interchange,Forecasted_Demand,Coal_Gen,Gas_Gen,Nuclear_Gen,Hydro_Gen,Solar_Gen,CO2_Factor_Coal,CO2_Factor_Gas,CO2_Emissions_Coal,CO2_Emissions_Gas,CO2_Total_Emissions,CO2_Intensity_Generated,CO2_Intensity_Consumed
0,01/07/2018 05:00,2018-07-01,MIDA,1,103858.0,109248.0,5347.0,99494.0,35983.0,29070.0,33643.0,538.0,1.0,2.218549,0.895378,36210.345566,11806.406352,48442.243112,1.037899,NaN
1,01/07/2018 06:00,2018-07-01,MIDA,2,98297.0,103531.0,5192.0,93464.0,33731.0,27542.0,33654.0,488.0,1.0,2.177153,0.881391,33310.757501,11011.089351,44744.766128,0.999141,NaN
2,01/07/2018 07:00,2018-07-01,MIDA,3,93074.0,99378.0,6262.0,88609.0,31721.0,25939.0,33692.0,476.0,1.0,2.172465,0.880894,31258.342939,10364.372058,42047.503780,0.979043,NaN
3,01/07/2018 08:00,2018-07-01,MIDA,4,89391.0,95312.0,5880.0,85235.0,29564.0,24704.0,33740.0,536.0,1.0,2.168223,0.880529,29075.921890,9866.818301,39369.975437,0.949907,0.964278
4,01/07/2018 09:00,2018-07-01,MIDA,5,86561.0,92188.0,5589.0,83348.0,27744.0,24681.0,33739.0,746.0,1.0,2.166928,0.880701,27269.665900,9859.557525,37556.638108,0.924530,0.945731
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43819,2023-07-01 01:00:00,2023-06-30,SE,20,34412.0,38064.0,3647.0,36161.0,7083.0,22959.0,5845.0,1739.0,53.0,2.199712,0.893434,7067.231207,9304.259067,16402.330168,0.949978,0.950256
43820,2023-07-01 02:00:00,2023-06-30,SE,21,33544.0,36364.0,2820.0,35451.0,6677.0,22300.0,5859.0,1151.0,0.0,2.200647,0.893891,6664.968120,9041.821171,15735.188285,0.953942,0.952980
43821,2023-07-01 03:00:00,2023-06-30,SE,22,31887.0,34099.0,2209.0,33890.0,6594.0,20680.0,5865.0,602.0,0.0,2.199813,0.894100,6579.623773,8386.923322,14992.789641,0.969280,0.968382
43822,2023-07-01 04:00:00,2023-06-30,SE,23,29793.0,30625.0,830.0,31832.0,6394.0,17920.0,5854.0,100.0,1.0,2.197462,0.893339,6373.238897,7261.399304,13658.912652,0.983144,0.979632
43823,2023-07-01 05:00:00,2023-06-30,SE,24,27736.0,28508.0,770.0,29795.0,5895.0,16264.0,5875.0,116.0,0.0,2.194508,0.894453,5867.961431,6598.590498,12490.960918,0.965934,0.960243

In [13]:
# Sort data for interpolation
data = data.sort_values(by=['Region', 'Date', 'Hour'])

# Interpolate based on time (good for time series)
interp_cols = [
    'Demand', 'Net_Generation', 'Total_Interchange', 'Forecasted_Demand',
    'CO2_Total_Emissions', 'CO2_Intensity_Generated', 'CO2_Intensity_Consumed'
]
data[interp_cols] = data[interp_cols].interpolate(method='linear', limit_direction='both')
data

,UTC_Time,Date,Region,Hour,Demand,Net_Generation,Total_Interchange,Forecasted_Demand,Coal_Gen,Gas_Gen,Nuclear_Gen,Hydro_Gen,Solar_Gen,CO2_Factor_Coal,CO2_Factor_Gas,CO2_Emissions_Coal,CO2_Emissions_Gas,CO2_Total_Emissions,CO2_Intensity_Generated,CO2_Intensity_Consumed
0,2018-07-01 08:00:00,2018-07-01,CAL,1,26061.0,17023.0,-6508.0,25443.0,7.0,7675.0,2267.0,2560.0,0.0,2.226686,0.925368,7.070062,3221.506556,3373.682925,0.435717,0.375965
1,2018-07-01 09:00:00,2018-07-01,CAL,2,24604.0,15411.0,-6710.0,24029.0,9.0,5879.0,2261.0,2584.0,0.0,2.225666,0.925439,9.085918,2467.842002,2623.170656,0.374383,0.325136
2,2018-07-01 10:00:00,2018-07-01,CAL,3,23554.0,14680.0,-6840.0,22984.0,6.0,5635.0,2258.0,2506.0,0.0,2.225365,0.924364,6.056458,2362.671742,2511.827481,0.376019,0.325355
3,2018-07-01 11:00:00,2018-07-01,CAL,4,22843.0,14362.0,-6843.0,22343.0,8.0,5405.0,2257.0,2446.0,0.0,2.225788,0.925286,8.076813,2268.496120,2419.007636,0.370372,0.321014
4,2018-07-01 12:00:00,2018-07-01,CAL,5,22538.0,14155.0,-6928.0,22108.0,8.0,5592.0,2260.0,2609.0,0.0,2.227010,0.926487,8.081249,2350.026901,2498.243412,0.386775,0.334759
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43819,2023-07-01 01:00:00,2023-06-30,TEX,20,73862.0,73920.0,58.0,75075.0,11013.0,36589.0,4642.0,115.0,2237.0,2.334702,0.908020,11662.812863,15069.970796,26833.944505,0.800317,0.800317
43820,2023-07-01 02:00:00,2023-06-30,TEX,21,70570.0,70337.0,-232.0,71706.0,10632.0,36722.0,4643.0,133.0,264.0,2.335695,0.908485,11264.120252,15132.490879,26484.937077,0.830194,0.830939
43821,2023-07-01 03:00:00,2023-06-30,TEX,22,67978.0,67953.0,-25.0,69197.0,10592.0,35912.0,4643.0,76.0,0.0,2.334810,0.908697,11217.490242,14802.149108,26102.076387,0.846875,0.847245
43822,2023-07-01 04:00:00,2023-06-30,TEX,23,64727.0,64768.0,42.0,65551.0,10055.0,32700.0,4645.0,10.0,0.0,2.332313,0.907923,10637.394139,13466.759706,24188.751173,0.823418,0.823935
43823,2023-07-01 05:00:00,2023-06-30,TEX,24,61032.0,61247.0,216.0,61753.0,9986.0,29629.0,4647.0,10.0,0.0,2.329179,0.909056,10550.198066,12217.260944,22850.622550,0.822481,0.822505

In [14]:
data = data.dropna()
data

,UTC_Time,Date,Region,Hour,Demand,Net_Generation,Total_Interchange,Forecasted_Demand,Coal_Gen,Gas_Gen,Nuclear_Gen,Hydro_Gen,Solar_Gen,CO2_Factor_Coal,CO2_Factor_Gas,CO2_Emissions_Coal,CO2_Emissions_Gas,CO2_Total_Emissions,CO2_Intensity_Generated,CO2_Intensity_Consumed
0,2018-07-01 08:00:00,2018-07-01,CAL,1,26061.0,17023.0,-6508.0,25443.0,7.0,7675.0,2267.0,2560.0,0.0,2.226686,0.925368,7.070062,3221.506556,3373.682925,0.435717,0.375965
1,2018-07-01 09:00:00,2018-07-01,CAL,2,24604.0,15411.0,-6710.0,24029.0,9.0,5879.0,2261.0,2584.0,0.0,2.225666,0.925439,9.085918,2467.842002,2623.170656,0.374383,0.325136
2,2018-07-01 10:00:00,2018-07-01,CAL,3,23554.0,14680.0,-6840.0,22984.0,6.0,5635.0,2258.0,2506.0,0.0,2.225365,0.924364,6.056458,2362.671742,2511.827481,0.376019,0.325355
3,2018-07-01 11:00:00,2018-07-01,CAL,4,22843.0,14362.0,-6843.0,22343.0,8.0,5405.0,2257.0,2446.0,0.0,2.225788,0.925286,8.076813,2268.496120,2419.007636,0.370372,0.321014
4,2018-07-01 12:00:00,2018-07-01,CAL,5,22538.0,14155.0,-6928.0,22108.0,8.0,5592.0,2260.0,2609.0,0.0,2.227010,0.926487,8.081249,2350.026901,2498.243412,0.386775,0.334759
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43819,2023-07-01 01:00:00,2023-06-30,TEX,20,73862.0,73920.0,58.0,75075.0,11013.0,36589.0,4642.0,115.0,2237.0,2.334702,0.908020,11662.812863,15069.970796,26833.944505,0.800317,0.800317
43820,2023-07-01 02:00:00,2023-06-30,TEX,21,70570.0,70337.0,-232.0,71706.0,10632.0,36722.0,4643.0,133.0,264.0,2.335695,0.908485,11264.120252,15132.490879,26484.937077,0.830194,0.830939
43821,2023-07-01 03:00:00,2023-06-30,TEX,22,67978.0,67953.0,-25.0,69197.0,10592.0,35912.0,4643.0,76.0,0.0,2.334810,0.908697,11217.490242,14802.149108,26102.076387,0.846875,0.847245
43822,2023-07-01 04:00:00,2023-06-30,TEX,23,64727.0,64768.0,42.0,65551.0,10055.0,32700.0,4645.0,10.0,0.0,2.332313,0.907923,10637.394139,13466.759706,24188.751173,0.823418,0.823935
43823,2023-07-01 05:00:00,2023-06-30,TEX,24,61032.0,61247.0,216.0,61753.0,9986.0,29629.0,4647.0,10.0,0.0,2.329179,0.909056,10550.198066,12217.260944,22850.622550,0.822481,0.822505

In [15]:
data.isna().sum()

UTC_Time                   0
Date                       0
Region                     0
Hour                       0
Demand                     0
Net_Generation             0
Total_Interchange          0
Forecasted_Demand          0
Coal_Gen                   0
Gas_Gen                    0
Nuclear_Gen                0
Hydro_Gen                  0
Solar_Gen                  0
CO2_Factor_Coal            0
CO2_Factor_Gas             0
CO2_Emissions_Coal         0
CO2_Emissions_Gas          0
CO2_Total_Emissions        0
CO2_Intensity_Generated    0
CO2_Intensity_Consumed     0
dtype: int64

In [16]:
data.dtypes

UTC_Time                           object
Date                       datetime64[ns]
Region                             object
Hour                                int64
Demand                            float64
Net_Generation                    float64
Total_Interchange                 float64
Forecasted_Demand                 float64
Coal_Gen                          float64
Gas_Gen                           float64
Nuclear_Gen                       float64
Hydro_Gen                         float64
Solar_Gen                         float64
CO2_Factor_Coal                   float64
CO2_Factor_Gas                    float64
CO2_Emissions_Coal                float64
CO2_Emissions_Gas                 float64
CO2_Total_Emissions               float64
CO2_Intensity_Generated           float64
CO2_Intensity_Consumed            float64
dtype: object

In [17]:
numeric_cols = ['Demand','Net_Generation','Total_Interchange','Forecasted_Demand','Coal_Gen',
                'Gas_Gen','Nuclear_Gen','Hydro_Gen','Solar_Gen','CO2_Factor_Coal','CO2_Factor_Gas',
                'CO2_Emissions_Coal','CO2_Emissions_Gas','CO2_Total_Emissions','CO2_Intensity_Generated','CO2_Intensity_Consumed']


# Round all numeric columns to 2 decimal places
data[numeric_cols] = data[numeric_cols].round(2)
data

,UTC_Time,Date,Region,Hour,Demand,Net_Generation,Total_Interchange,Forecasted_Demand,Coal_Gen,Gas_Gen,Nuclear_Gen,Hydro_Gen,Solar_Gen,CO2_Factor_Coal,CO2_Factor_Gas,CO2_Emissions_Coal,CO2_Emissions_Gas,CO2_Total_Emissions,CO2_Intensity_Generated,CO2_Intensity_Consumed
0,2018-07-01 08:00:00,2018-07-01,CAL,1,26061.0,17023.0,-6508.0,25443.0,7.0,7675.0,2267.0,2560.0,0.0,2.23,0.93,7.07,3221.51,3373.68,0.44,0.38
1,2018-07-01 09:00:00,2018-07-01,CAL,2,24604.0,15411.0,-6710.0,24029.0,9.0,5879.0,2261.0,2584.0,0.0,2.23,0.93,9.09,2467.84,2623.17,0.37,0.33
2,2018-07-01 10:00:00,2018-07-01,CAL,3,23554.0,14680.0,-6840.0,22984.0,6.0,5635.0,2258.0,2506.0,0.0,2.23,0.92,6.06,2362.67,2511.83,0.38,0.33
3,2018-07-01 11:00:00,2018-07-01,CAL,4,22843.0,14362.0,-6843.0,22343.0,8.0,5405.0,2257.0,2446.0,0.0,2.23,0.93,8.08,2268.50,2419.01,0.37,0.32
4,2018-07-01 12:00:00,2018-07-01,CAL,5,22538.0,14155.0,-6928.0,22108.0,8.0,5592.0,2260.0,2609.0,0.0,2.23,0.93,8.08,2350.03,2498.24,0.39,0.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43819,2023-07-01 01:00:00,2023-06-30,TEX,20,73862.0,73920.0,58.0,75075.0,11013.0,36589.0,4642.0,115.0,2237.0,2.33,0.91,11662.81,15069.97,26833.94,0.80,0.80
43820,2023-07-01 02:00:00,2023-06-30,TEX,21,70570.0,70337.0,-232.0,71706.0,10632.0,36722.0,4643.0,133.0,264.0,2.34,0.91,11264.12,15132.49,26484.94,0.83,0.83
43821,2023-07-01 03:00:00,2023-06-30,TEX,22,67978.0,67953.0,-25.0,69197.0,10592.0,35912.0,4643.0,76.0,0.0,2.33,0.91,11217.49,14802.15,26102.08,0.85,0.85
43822,2023-07-01 04:00:00,2023-06-30,TEX,23,64727.0,64768.0,42.0,65551.0,10055.0,32700.0,4645.0,10.0,0.0,2.33,0.91,10637.39,13466.76,24188.75,0.82,0.82
43823,2023-07-01 05:00:00,2023-06-30,TEX,24,61032.0,61247.0,216.0,61753.0,9986.0,29629.0,4647.0,10.0,0.0,2.33,0.91,10550.20,12217.26,22850.62,0.82,0.82

In [18]:
#data.to_csv(r"C:\Users\rosem\Downloads\FINAL_PROJECT_WORKS\CSV_files\cleaned_data.csv",index= False)

In [19]:
#data.to_excel(r"C:\Users\rosem\Downloads\FINAL_PROJECT_WORKS\CSV_files\cleaned_data_xlsx.xlsx",index= False)